body {
    background-color: darkblue;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
}

header {
border-bottom: solid 2px lightblue
padding: 28px;
}