body {
    background-color: darkblue;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
}

header {
border-bottom: solid 2px lightblue;
padding: 20px;
font-size: 32px;
color: cyan;
}

h1 {
color: cyan;
font-family: sans-serif;

}

p{
    text-align: center;
    color: blueviolet;
    font-style: italic;
}

section {
    background-color: rgb(4, 4, 29);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
margin-right: 5%;

}

img {
    height: 200px;

}

.categoria-vídeos {
    display: flex;
    overflow-x: auto;
}